{% extends "base.html" %}

{% block content %}
<h1>Search</h1>
<form method="get">
    <p>String Search</p>
    <input type="text" id="stringsearch" name="stringsearch" size="100"><br>
    <br>
    <input type="submit" value="Submit">
</form>

<form method="get">
    <p>Field query</p>
    <p>you can only query one field. use EQL for equal to and use NQL for not equal to. searches will be regex (be sure to escape chars) and case-insensitive</p>
    <p>fields: url, title, content, content_sha256, links, yara_matches and more if you look into mongodb queries and look at the source code! </p>
    <p>example query: url EQL google.com</p>
    <input type="text" id="query" name="query" size="100"><br>
    <br>
    <input type="submit" value="Submit">
</form>

<h3>Results</h3>
<h4>Query: {{ query }}</h4>
<table style="width:100%" border=1>
    {% for task in results %}
    <tr>
    <td>{{ task.url }}</td>
    <td><a href = {{ url_for('results' ,taskid=task.taskid) }}>{{ task.taskid }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}